<div class="project-popup">
  <div>
      <app-carousel [images]="images"></app-carousel>
      <div class="info">
        <div>
          My Personal Portfolio
        </div>
        <div class="desc">
            <p> The same website you are browsing. Built using <span>Angular 6, HTML5 and CSS3</span>. Most of the animations and styles are designed and 
              coded from scratch without using any external UI/UX frameworks. The designs are 
              inspired from various articles and many other intriguing websites I visited which made
               me think, <span> How did he do that?!</span> I plan to constantly update the website and use it as my playground to learn and implement new web technologies.
            </p>
        </div>
      </div>
      <div class="close" routerLink="/projects"><i  class="fa fa-times"></i></div>
  </div>  
</div>