
div{
    font-family: 'Anonymous Pro', monospace;  
   
    z-index: 10000;
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(146, 131, 131, 0.75);}
    to{border-right-color: transparent;}
  }

  @keyframes typewriter{
    from{width: 0;}
    to{width: 11em;}
  }

  .anim-typewriter{
    animation: typewriter 3.4s steps(30) 0.5s 1 normal both,
               blinkTextCursor 650ms steps(30) 4 forwards;
  }
  
  .line-1{
    position: absolute;
    top: 10%;  
  padding-left: 1px;
    width: 11em;
    left:calc(50%);
   
    font-size: 180%;
    border-right: 2px solid rgba(146, 131, 131, 0.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);     
}
