
.calendar
{
  font-size: 1em; 
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  backface-visibility: hidden;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

.calendar strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}
.calendar.linkedin strong{
  background-color:#0077B5;
  border-color: #0077B5;
  box-shadow:0 2px 0 #0077B5;
}

.calendar span
{
  width: 100%;
  font-size: 1.8em;
  letter-spacing: -0.05em;
  padding-top: 1.8em;
  color: #2f2f2f;
}
.calendar  > *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.calendar em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}
.calendar.linkedin em{
  color: #0077B5
}
