.skills-title{
    font-size: 32px;
    font-family: 'Roboto','sans-serif';
    font-weight: 900;
    text-align: center;
}
p{
    min-width: 400px;   
}
.skills-title > p::before{
    display: none;
}
progress{
    width: 180pt;
    height: 4pt;
    -webkit-appearance: none;
    appearance: none;
}
.skills-title > p::after{
    content: " ";
    background-color: #000;
    width: 350px;
    height: 3px;
    display: inline-block;
    position: relative;
    top: -8px;
    margin-right: 12px;
    margin-left: 12px;
}
.skill-item{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    line-height: 23px;
    align-content: left;
   
    align-items: flex-start;   
}
.skill-item > div {
    align-self: flex-start;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 3pt;
    width: 100%;
    position: relative;
    
}

.skill-item > div >span{
    position: absolute;
    right: 5pt;
    font-weight: 200;
}



@media screen and (min-width: 480px)
{

.skills-title > p::before, 
.skills-title > p::after{
content: " ";
background-color: #000;
width: 100px;
height: 3px;
display: inline-block;
position: relative;
top: -8px;
margin-right: 12px;
margin-left: 12px;
}

.skills-item{
  
    flex-direction: row;
    
}

}

@media screen and (min-width: 560px)
{
progress{
    width: 380pt;
    height: 6.5pt;;
   
}
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
}

progress.red::-webkit-progress-value { background: #c0392b; transition: all ease-in 2s; }
progress.green::-webkit-progress-value { background: #27ae60; }
progress.blue::-webkit-progress-value { background: #1199ff; }
progress.orange::-webkit-progress-value { background: #ffa500; }
progress.purple::-webkit-progress-value { background: #9b59b6;}

