nav{
    position: fixed;
    top:0;
    left:0;
    background-color: #1B242D;
    width: 100%;
   
    z-index: 10001;
    border-bottom: 3px solid #04C2C9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
  
    color: #fff;
}
.collapsable a{
    color: #fff;
}
.menu-links{
    position: fixed;
    height: 45pt;
    width: 45pt;
    right: 5vw;
    bottom: 2vh;
    border-radius: 50%;
    cursor: pointer;
    background-color: #335;
}

.collapsable > div > div > a:hover{
    color: #E31B6D
}

.menu-trigger span,.menu-trigger span::after ,.menu-trigger span::before{
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #fff;
}


.menu-trigger span{
    left:50%;
    top:50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%,-50%);
    transition: background-color 0.2s;
}
.menu-trigger span::after,.menu-trigger span::before{
    content: '';
    top: 0;
    left: 0;
    transition: transform 0.2s;
}
.menu-trigger span::after{
    transform: translateY(6px);
}
.menu-trigger span::before{
    transform: translateY(-6px);
}

nav .menu-trigger.expand span::after{
    transform: rotate(45deg);
}
nav .menu-trigger.expand span::before{
    transform: rotate(-45deg);
}

.menu-trigger.expand span{
    background-color: transparent
}
.collapsable{
    max-width: 1200px;
    width: 100%;
    position: absolute;
    display: flex;
    font-weight: 800;
    flex-direction: row;
    align-items: center;
    top: 50px;
    background: #335;
    overflow: hidden;
    height: 0;
    transition: height .3s ease-out;
}
.collapsable > div{
    display: flex;
    flex-direction: column;
}

.collapsable div{
    font-family: 'Roboto';
    padding: 12px 20px;
    font-size: 11pt;
    
    cursor: pointer;
    transition: color .5s;
    text-transform: uppercase;
}
.collapsable.expand{
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #1B242D;
}

.collapsable div{
    font-size: 20pt;
    margin: 5pt 0pt;
    margin:0 28px;
}
.collapsable div:first-child {
    padding: 25px 20px 12px 20px;
}
@media screen and (min-width:700px) {
.menu-links{
        display: none;
    }
.collapsable{
    position: initial;
    background: none;
    overflow: visible;
    height: initial;
    text-align: left;
}
nav{
    height: 50px;
}
.collapsable > div > div > a.active{
    color: #E31B6D;

}
.collapsable div{

    margin: 0 28px;
    padding: initial;
    font-size: initial;
    display: inline;
    /* transition: all 0.25s ease-in-out; */

}
.collapsable > div > div:first-child {
    padding: 0;
    
}
.collapsable,.collapsable > div{
    display: initial;
  
}
}