.about-container{
    margin-top:50px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-container > * {
    margin: 30pt 0pt;
    align-self: center;
   
}
app-experience,app-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'Roboto','sans-serif';
}
app-skills{
    /* position: sticky; */
    top: 50px;
}

@media screen and (min-width: 600px)
{
app-experience {
    padding: 0 10px;
}
.about-container > * {
    margin: 30pt;
}

.about-container > * {
    align-self: center;
    }


@media screen and (min-width: 1500px)
{
    .about-container {
        flex-direction: row;
        margin: 30pt;
        
}

.about-container > * {
    align-self: initial;
    }


}

}