.experience-title{
    font-size: 32px;
    font-family: 'Roboto','sans-serif';
    font-weight: 900;
    text-align: center;
}
p{
    min-width: 400px;   
}
.experience-title > p::before{
    display: none;
}
.experience-title > p::after{
    content: " ";
    background-color: #000;
    width: 350px;
    height: 3px;
    display: inline-block;
    position: relative;
    top: -8px;
    margin-right: 12px;
    margin-left: 12px;
}

.experience-item{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    line-height: 23px;
}

.experience-info{
    margin-top: 30px;
    padding: 15px;
    padding-top: 0px;
    margin-left: 0;
}
.experience-image img{
    border-radius: 10px;
    background-color: #eee;
    box-shadow:0px 2px 3px 5px #ccc;
    width: 350px;

}
.experience-image{
    align-self: center;
}
.company-name{
    font-size: 24px;
    color: #04C2C9;
    font-weight: 400;
}

.position{
    font-size: 16px;
    font-weight: 600;
}
.position > span{
 font-style: italic;
}
.location{
    font-size: 15px;
    font-weight: 700;
}

.experience-info > div{
    margin-bottom:5pt;
}
.summary{
    line-height: 20pt;
}
@media screen and (min-width: 650px)
{

.experience-title > p::before, 
.experience-title > p::after{
content: " ";
background-color: #000;
width: 100px;
height: 3px;
display: inline-block;
position: relative;
top: -8px;
margin-right: 12px;
margin-left: 12px;
}

.experience-item{
  
    flex-direction: row;
    
}

.experience-info{
    margin-top: 0px;
    margin-left: 30px;
}

}