<div class="experience-title"><p>My career so far</p></div>
<div class="experience-list-container">
<div class="experience-item" *ngFor="let experience of experiences">
    <div class="experience-image"><img [src]="experience.imagePath"></div>
    <div class="experience-info">
      <div class="company-name">{{ experience.companyName }}</div>
      <ng-container *ngFor="let position of experience.positions">
      <div class="position">{{ position.designation }}<span>, {{position.timePeriod}}</span></div>
      <div class="location">{{ experience.location }}</div>
      <div class="summary">{{ position.summary }}</div>
      </ng-container>
    </div>
</div>
</div>