<div class="article-container">
 <div class="article-list-container">
  <div class="heading"><img src="assets/images/articles/article.png">Recent Articles</div>
  <div class="article-list">
    <div *ngFor="let article of articles"> 
      <div>
      <app-calendar [calendarDate]="article.date" [articleSiteName]="article.site"></app-calendar>
      </div>
      <div>
         <div class="heading-link"><a [href]="article.link" target="_blank">{{article.heading}}</a></div> 
         <div>{{article.subheading}}</div>
         <div>{{article.views}} views 
           <span *ngIf="article.downloads">| {{article.downloads}} downloads </span> 
          <span *ngIf="article.bookmarked"> | {{article.bookmarked}} bookmarked </span>
          <span *ngIf="article.likes">| {{article.likes}} likes </span>
        </div>
      </div>
    </div>
  </div>
  <div class="heading-link" style="text-align:center" *ngIf="allArticles && articles && articles.length < allArticles.length"><a>Load more...</a></div>
  <div class="heading"><img src="assets/images/articles/bulb.png">Inspirations</div>
  <div class="article-list">
    <div *ngFor="let inspiration of inspirations">
    <div></div>
    <div>
    <div class="heading-link"><a [href]="inspiration.link" target="_blank">{{inspiration.heading}}</a></div> 
    <div><a [href]='inspiration.authorSite'>{{inspiration.author}}</a> | {{inspiration.aboutAuthor}}</div>
  </div>
  </div>
  </div>
 </div>
</div>
<app-navigation-arrows [prevPage]="['/profile']"  [nextPage]="['/about']" ></app-navigation-arrows>