.article-container{
    min-height: 900px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;

    margin: 0 auto;
    margin-top:50px;
    line-height: 21pt;
}

.heading{
    font-family: 'Roboto';
    font-size: xx-large;
}
.heading > img{
    height: 88pt;
}
.article-list {
   min-height: 150pt;
   margin-bottom: 50pt;
   display: flex;
   flex-direction: column
}

.article-list-container{
    padding: 25pt;
}
div.button{
    background-color: #3dd28d;
    padding: 12px;
    cursor: pointer;
}

.article-list > div {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.article-list > div > div:first-child{
    display: none;
}
.article-list > div > div:last-child{

    margin-top: 2em;
    margin-left: 2em;
    flex: 1;
    position: relative;

}
.article-list > div > div:last-child > div:last-child{

 
   font-size: 8pt;

}

.heading-link > a{
color:#15c;
font-size: large;

}
.heading-link > a:hover{
    color:#1ac;
}

@media screen and (min-width:445px)
{
    .article-list > div > div:last-child{
        margin-left: 3em;
    }

    .article-list > div > div:first-child{
        display: block;
    }
}