
<div class="project-container">
      <div class="container-gallery">
              <div class="gallery-item mix" [ngClass]="project!.Categories.join(' ')" *ngFor="let project of projects"
              [ngStyle]="{'background-image': 'url('+ imagesDir + project.ImageFile +')'}"
              [routerLink]="['project',project.ProjectId]"  >
              <div>
                  <div>
                      <span>{{project.ProjectName}}</span><br/>
                     {{ project.ShortDesc }}
                 </div> 
                  <div>
                   <button *ngIf="!project.InProgress; else inProgressButton">More details</button>
                 <ng-template #inProgressButton><button>In progress</button></ng-template>  
                  </div>
                </div>
              </div>
            </div>
</div>
<div [@routerTransition]="getState(o1)">
<router-outlet #o1="outlet"></router-outlet>
</div>
<app-navigation-arrows  [nextPage]="['/profile']" ></app-navigation-arrows>