.project-container{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-image: none;
    align-items: center;
 
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.container-gallery{
    flex-wrap: wrap;
    flex-direction: row;
     width: 100%;    
    justify-content: center;
    box-sizing: border-box;
    max-width: 1080px;;
    display: flex;
 
   }
 
 
   
.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  
}


.filter-container >div{
    padding: 25px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

  
@media screen and (min-width: 850px) {
  .project-container{
    margin-top:50px;
  }
  .filter-container >div{
      padding: 25px 50px;
  }    
}



a {
    
    text-decoration: none;
    font-size: 14pt;
    color: #ccc;
    position: relative;
  }
  a:hover,a.active{
    color: #000;
    font-weight: 800;
  }

  .gallery-item{
    width: calc(100vw - 50pt);
    cursor: pointer;
    height: 170px;
    background-color: white;
    box-shadow: 0 2px 3px 2px #ccc;
    display: inline-block;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 10pt;
    background-position: center;  
  }
  .gallery-item > div {
    align-items: center;
    width: 100%;
    height: 170px;
    align-content: center;
    justify-content: center;
    /* vertical-align: bottom; */
    display: flex;
    flex-direction: column;
         position: absolute;
  }

  @media screen and (min-width: 480px) {

    .project-container{
      margin-top:50px;
      background-image: url('/assets/images/projects/skills_wall.png');
    
  }
    a {
        font-size: 26px;
    }

    .gallery-item{
        width: 315px;
        height: 256px;
        position: relative;
        display: inline-block;
        background-color: white;
        box-shadow: 0 2px 3px 2px #ccc;
    
    }

    .filter-container{
    
      margin-top: 70px;
    }


    .gallery-item > div {
        height: 256px;
      }
    
}
    
  a.active , .mixitup-control-active a{
    color:#000;
    font-weight: 800;
    
  }
  
   a:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #04C2C9;
    content: '';
    transform: translateY(8px);
    opacity: 0;
    font-weight: 600;
    transition-property: transform, opacity;
    transition-duration: .3s;
  }
  
   a:not(.active):hover:before {
    transform: translateY(0);
    font-weight: 600;
    opacity: 1;
  }
 
  .gallery-item > div  > div{
      display: none;
      position: absolute;
  }
  
  .gallery-item:hover {
    background-image: none!important;
  }
  .gallery-item:hover > div  > div{
    display: block;
    color: #04C2C9;
  }
  .gallery-item span{
      font-weight: bold;
      color: #000;
  }
  .gallery-item:hover > div  >div:first-child{
    line-height: 21pt;

}
  .gallery-item:hover > div  >div:first-child{
     top: 15%;
  
  }
  .gallery-item:hover > div  >div:last-child{
     bottom:15%;
    
  }

  
button{
    background:#E31B6D;
    color:#fff;
    border:none;
    position:relative;
    height:32pt;
    font-size:1.2em;
    padding:0.6em 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#E31B6D;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #E31B6D;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  
  