
<div class="project-container">
    <div class="filter-container">
       <div class="filter active" data-filter="all"><a>ALL</a></div>
        <div class="filter" data-filter=".js"><a>JS</a></div>
        <div class="filter" data-filter=".games"><a>Games</a></div>
        <div class="filter" data-filter=".android"><a>Android</a></div>
        <div class="filter" data-filter=".java"><a>Java</a></div>
        <div class="filter" data-filter=".c"><a>C/C++</a></div>
        <div class="filter" data-filter=".cs"><a>C#</a></div>

      </div>
      <div class="container-gallery">
              <div class="gallery-item mix" [ngClass]="project.Categories.join(' ')" *ngFor="let project of projects"
              [ngStyle]="{'background-image': 'url('+ imagesDir + project.ImageFile +')'}"
              [routerLink]="['project',project.ProjectId]"  >
              <div>
                  <div>
                      <span>{{project.ProjectName}}</span><br/>
                     {{ project.ShortDesc }}
                 </div> 
                  <div>
                   <button *ngIf="!project.InProgress; else inProgressButton">More details</button>
                 <ng-template #inProgressButton><button>In progress</button></ng-template>  
                  </div>
                </div>
              </div>
            </div>
</div>
<div [@routerTransition]="getState(o1)">
<router-outlet #o1="outlet"></router-outlet>
</div>
<app-navigation-arrows  [nextPage]="['/profile']" ></app-navigation-arrows>