<div class="project-popup" (click)="popupClicked($event)">
    <div *ngIf="project">
        <app-carousel [images]="project.carouselImages" *ngIf="!project.videoLink">
        </app-carousel>
        <video controls *ngIf="project.videoLink">
            <source [src]="project.videoLink" type="video/mp4">
        </video>
        <div class="info">
            <div>
              {{project.ProjectName}}
            </div>
            <div class="desc">
                <p [innerHTML]="project.Description"></p>
            </div>
            <div class="links" *ngIf="project.showLink" [ngSwitch]="project.linkType"> 
              <border-hover-led-button
               *ngSwitchCase="'1'" [width]=178 [link]="project!.linkhref">
               {{project!.linkText}}</border-hover-led-button>
               <a *ngSwitchCase="'2'" target="_blank"  [href]="project!.linkhref">
               {{project!.linkText}}</a></div>
        </div>
        <div class="close" routerLink="/projects"><i  class="fa fa-times"></i></div>
    </div>
  </div>
  
  