
.info{
    /* flex-grow: 2; */
}
.close{
        align-self: flex-end;
        align-items: flex-end;
        text-align: right;
        font-size: xx-large;
        color: #555;
        cursor: pointer;
        position: absolute;
        bottom: 5px;
        right: 10px;
}
.close:hover{
    color: #aaa;
}


.project-popup video{
    width:100%;
}

.info{
    font-family: 'Roboto','Sans-serif';
    display: flex;
    flex-direction: column;

    
}

.info > div:first-child{
    font-size: x-large;
    padding: 5pt;
    font-weight: bold;
  
}
.info > div.desc{
    font-size: medium;
    padding:5pt;
    padding: 7pt;
    color: #333;
}
.info > div.desc > p {
    line-height: 22pt;
    margin-bottom: 12px;
}
.info > div.desc > p > span{
    font-weight: bold;
}

.info > div.links{
    align-self: center;
}

.info > div.links > button{
    border: none;
    padding: 7pt;
    cursor: pointer;
}
.info > div.links {
    font-weight: bolder;
}