<div class="project-popup">
  <div>
      <app-carousel [images]="images"></app-carousel>
      <div class="info">
          <div>
            Space Attack
          </div>
          <div class="desc">
              <p>A simple browser-based 2D game using HTML5/CSS3.
                   Designed the game objects using HTML5 canvas and sprites. 
                    The game engine was built from scratch using only <span>Vanilla JavaScript</span>.
                     My love for JavaScript and front-end development started from here.</p>
          </div>
          <div class="links"> <border-hover-led-button [width]=178 [link]="'https://arunbabu-madhavan.github.io/SpaceAttack/'">Play Game!</border-hover-led-button></div>
      </div>
      <div class="close" routerLink="/projects"><i  class="fa fa-times"></i></div>
  </div>
</div>
