<div class="bio-container">
<div>About me</div>
<div class="dp-container">
<div><img alt="My Photo" [src]="image"></div>
  <div>
    <p><span>Name:</span> Arun Babu Madhavan</p>
      <p><span>Location:</span> Born in Pondicherry, India.</p>
      <p>Currently residing in Dallas,Texas</p>
      <p><span>Words that best describe me:</span> Calm, Composed and Competent <i class="fa fa-puzzle-piece"></i></p></div>
</div>
<div><span>Arun</span> is a graduate student at UTD. He is an award winning web developer with 6 years of proven performance in software development. He likes to design and develop apps, games and architect enterprise solutions with good design patterns. 
  This website was designed and developed
from scratch using Angular. Designs are inspired from personal websites of many talented UI/UX developers.  

He started coding from a young age and spends most his day coding. When he is not coding, he watches anime, reads books (sci-fi novels or comics) and plays video games.</div>
<div class="title">
  Coding is an Art!
</div>
<div class="image-container">
 <img alt="commicStrip" src='assets/images/bio/art.jpg'>
</div>
</div>
<app-navigation-arrows [prevPage]="['/articles']" ></app-navigation-arrows>
