.bio-container{
   
    min-height: 900px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top:50px;
    line-height: 21pt;
    padding-left:30pt;

  
}
.bio-container span{
    font-weight: bold;
}
.bio-container > div:first-child{
    align-self: flex-start;
    font-family: 'Roboto','sans-serif';
    font-size: xx-large;
    padding: 20pt 0pt;

}
.dp-container
{
    display: flex;
    flex-direction: column;
    

}
.dp-container p i {
    font-size: xx-large;
    color: greenyellow;
}
.dp-container > div
{
   padding: 20pt;
   align-self: center;

}
.dp-container img{
    height:245pt;width:220pt;
}
.bio-container > div.title
{
    font-family: 'Roboto','sans-serif';
    font-size: larger;
    font-weight: 600;
}

.bio-container > * {
    padding: 10pt 0pt;
}

.image-container{
    align-self: flex-start;
    font-size: small;
}
.image-container > img{
    width: calc(100vw - 50pt);
}
.image-container > div{
    margin-top: -20pt;
    text-align: left;
}
@media screen and (min-width:620px)
{
    .image-container > div{
      
        text-align: right;
    }
    .image-container{
        align-self: center;
    }
    .image-container > img{
        width: auto;
    }
    .dp-container {
        flex-direction: row;
    }
}

.image-container a{

color: blue;
}
