<div class="bio-container">
<div>About me</div>
<div class="dp-container">
<div><img alt="My Photo" [src]="image"></div>
  <div>
    <p><span>Name:</span> Arun Babu Madhavan</p>
      <p><span>Location:</span> Born in Pondicherry, India.</p>
      <p>Currently residing in Dallas,Texas</p>
      <p><span>Words that best describe me:</span> Calm, Composed and Competent <i class="fa fa-puzzle-piece"></i></p></div>
</div>
<div>Arun, a graduate student at UTD, embarked on his journey with a Bachelor's in Mechatronics from SASTRA University, immersing himself in robotics and coding competitions, igniting a passion for engineering. Progressing swiftly from Associate Software Engineer at Accenture to roles like Software Engineer(Microsoft) and Senior Analyst at Deloitte, he showcased prowess in full-stack development and leadership. His academic pursuit culminated in an M.S. in Computer Science (Interactive Computing) from The University of Texas at Dallas, specializing in animation and UI/UX development.
  <p>&nbsp;</p>
 <p>
  A web developer at heart, Arun thrives on creating apps, games, and designing enterprise solutions with impeccable design patterns. He built this website using Angular, inspired by top UI/UX developers. Coding has been his passion since childhood, spending most of his day immersed in it. When he's not coding, Arun enjoys watching anime, reading comics, sci-fi novels and plays video games</p></div>
<div class="title">
  Coding when you mature!
</div>
<div class="image-container">
 <img alt="commicStrip" src='assets/images/bio/comm.jpg'>
</div>
</div>
<app-navigation-arrows [prevPage]="['/articles']" ></app-navigation-arrows>
