<div class="bio-container">
<div>A Little Bit About Me</div>
<div class="dp-container">
<div><img alt="My Photo" [src]="image"></div>
  <div>
    <p><span>Name:</span> Arun Babu Madhavan</p>
      <p><span>Location:</span> Born in Pondicherry, India.</p>
      <p>Currently residing in Dallas,Texas</p>
      <p><span>Words that best describe me:</span> Calm, Composed and Cooperative <i class="fa fa-puzzle-piece"></i></p></div>
</div>
<div>You can call me <span>Arun</span>, I build websites. I am an award winning web developer with 6 years of proven performance in software development. I like to design and develop apps, games and architect enterprise solutions with good design patterns. I designed and developed this website 
from scratch using Angular. Designs are inspired from personal websites of many talented UI/UX developers.  

I started coding from a young age and I spend most my day thinking and 
coding which I really love to do. When I am not coding, I watch Anime, read books (novels and comics - thrillers are my favorite) and play video games.</div>
<div class="title">
  Coding is an Art!
</div>
<div class="image-container">
 <img alt="commicStrip" src='assets/images/bio/art.jpg'>
 <div>via <a href="http://www.commitstrip.com/" target="_blank">CommitStrip.com
 </a></div>
</div>
</div>
<app-navigation-arrows [prevPage]="['/articles']" ></app-navigation-arrows>
