<div class="carousel-container">
    <input type="radio" class="slider-radio-controls" name="slider" *ngFor="let image of images; let i = index" [checked]="i==0" [id]="'slide'+(i+1)" (click)="setCurrentSlide(i)"/>
    <div class="image-container">
      <div class="image" *ngFor="let image of images; let i = index" [ngStyle]="{'background-image': 'url(' + image + ')'}">
      </div>
    </div>
    <div class="slider-controls">
      <label [for]="'slide'+(i+1)" *ngFor="let image of images; let i = index"></label> 
    </div>
  </div>  