<div class="project-popup">
    <div>
        <app-carousel [images]="images"></app-carousel>
        <div class="info">
            <div>
             Word Puzzle
            </div>
            <div class="desc">
                <p>A grid consisting of letters is to be checked against a dictionary of words. The user can input a value for the rows and columns of the grid and the program
                    will create a grid of random characters.                
                    The program will read in a dictionary file (100,000 words) and use an algorithm to
                    solve the word puzzle. The program outputs the elapsed time.</p>
            </div>
            <div class="links"></div>
        </div>
        <div class="close" routerLink="/projects"><i  class="fa fa-times"></i></div>
    </div>
  </div>
  