<div class="project-popup">
    <div>
        <app-carousel [images]="images"></app-carousel>
        <div class="info">
            <div>
              Play Chat
            </div>
            <div class="desc">
                <p>The idea is to create a android chat application like WhatsApp, WeChat where users will have an option to play games with each other. It is still in </p>
            </div>
            <div class="links"> <button>Get App!</button></div>
        </div>
        <div class="close" routerLink="/projects"><i  class="fa fa-times"></i></div>
    </div>
  </div>
  