<footer *ngIf="layout.showFooter">

    <div>
      <div>developed with</div>
        <div class="slider-container gallery-item">
          <div class="slider-holder">
          <a target="_blank" href="https://angular.io/"><img src="assets/images/footer/A.svg" ></a>
          <a target="_blank" href="https://www.w3.org/TR/html52/"><img src="assets/images/footer/html5.png" ></a>
          <a target="_blank" href="https://www.w3.org/TR/2001/WD-css3-roadmap-20010523/"><img src="assets/images/footer/css3.png" ></a> 
          <a target="_blank" href="https://angular.io/"><img src="assets/images/footer/A.svg" ></a>
        </div> 
        </div> 
      </div>
  <div class="social-media-container">
      <a class="mail" target="_blank" href="mailto:arunbabu.madhavan@gmail.com"><i class="fa fa-envelope"></i></a>
    <a class="linkedin" href="https://www.linkedin.com/in/arun-babu-madhavan/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a class="github" href="https://github.com/arunbabu-madhavan/" target="_blank"><i class="fa fa-github"></i></a>
    <a class="facebook" href="https://www.facebook.com/Arunbmt" target="_blank"><i class="fa fa-facebook"></i></a>
    
  </div>

  <div class="footnote">
    <a href="mailto:arunbabu.madhavan@gmail.com">Arun Babu Madhavan</a> 
    <span> | &copy; 2018</span>
  </div>

</footer> 